link(rel="stylesheet",href="/css/forms.css")
link(rel="stylesheet",href="/css/product.css")
<!DOCTYPE html>
html(lang="en")
  body
    h1(style="text-align:center") Welcome to RMS
    form(class="product-form",method="POST",action='')
        div(class="form-control")
        <!-- ,style="text-align:center") -->
            div(style="margin-bottom:10px")
                label(for='username',style='margin-right:10px') Username:
                input#username(type="text",placeholder='username',name='username')
            div(style="margin-bottom:10px")
                label(for='password',style='margin-right:10px') Password:
                input#password(type="text",placeholder='password',name='password')
            button(class="btn",type='submit') Login
    form(class="product-form",action="/signup")
        p Don't have an account?
        button(class="btn",type="submit") SignUp
    div(style='text-align:center')
        if errors
            ul
                for error in errors
                    li {error.msg}
        p #{message}