extends customer_base
block content
    div.container
        div.container
            h1(style="font-family: 'Sacramento', cursive; font-size:60px") Notifications
        <table class="table-responsive-sm table table-striped table-hover table-bordered">
            <thead>
                <tr>
                <th scope="col">Time Stamp</th>
                <th scope="col">Information</th>
                </tr>
            </thead>
            <tbody id="main_table">
                each val in notifications
                    <tr>
                        td #{val['time_stamp']}
                        td #{val['info']}
                    </tr>
            </tbody>
        </table>