extends customer_base

block content
    div.container
        div.container
            h1(style="font-family: 'Sacramento', cursive; font-size:60px") Previous Orders
        <table class="table-responsive-sm table table-striped table-hover table-bordered">
            <thead>
                <tr>
                <th scope="col">Ordered Time</th>
                <th scope="col">Items</th>
                </tr>
            </thead>
            <tbody id="main_table">
                each val in items
                    <tr>
                        td 
                            a(href='/customer/order/'+val['id']) #{val['ordered_time']}
                        td #{val['items']}
                    </tr>
            </tbody>
        </table>
