extends customer_base

block content
    div.container
        div.container
            h1(style="font-family: 'Sacramento', cursive; font-size:60px") Previous Orders
        <table class="table-responsive-sm table table-striped table-hover table-bordered">
            <thead>
                <tr>
                <th scope="col">Ordered Time</th>
                <th scope="col">Items</th>
                <th scope="col">Rcoins</th>
                </tr>
            </thead>
            <tbody id="main_table">
                each val in items
                    <tr>
                        td 
                            a(href='/customer/order/'+val['id']) #{val['ordered_time']}
                        td #{val['items']}
                        td
                            form(class="form-inline" method="POST" action="/customer/rcoins/"+val['id'])
                                if val['status'] === 'order-completed'
                                    input(required type="number" min="0" class="form-control mb-2 mr-sm-2" id="rcoins" name="coins" disabled value=val['rcoins_used'])
                                    <button type="submit" class="btn btn-primary mb-2" disabled>Submit</button>
                                else
                                    input(required type="number" min="0" class="form-control mb-2 mr-sm-2" id="rcoins" name="rcoins")
                                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </tr>
            </tbody>
        </table>
