<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">

<body>
<main>
    <form class="product-form" action="/login" method="POST">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<% if (editing) { %><%= title %><% } %>">
        </div>
        <div class="form-control">
            <label for="password">Image</label>
            <input type="text" name="password" id="password" value="<% if (editing) { %><%= password %><% } %>">
        </div>
        <button class="btn" type="submit">Login</button>
    </form>
     <form class="product-form" action="/signup">
        Don' have an account
        <button class="btn" type="submit">SignUp</button>
    </form>

</main>
</body>