body {
  padding: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: large;
}

h1 {
  text-align: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.formLogin input {
  border-radius: 10px;
  margin: 10px;
  height: 25px;
  size: 100;
  font-size: large;
}

.formLogin button{
  border-radius: 10px;
  margin: 10px;
  height: 30px;
  font-size: large;
}

.jumbotron{
  text-align: center;
}
