body {
  padding: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: aqua;
}

h1 {
  text-align: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


input {
  border-radius: 10px;
  margin: 10px;
  height: 25px;
  size: 30;
}

button{
  border-radius: 10px;
  margin: 10px;
  height: 30px;
}