body {
  font-family: 'Signika', sans-serif;
  font-size: large;
  /* background-image: url("../images/background.png"); */
  background: repeating-linear-gradient(-45deg, white, white 10px, black 5px, black 15px);
  background-attachment: fixed;
}
h1 {
  text-align: center;
}

#parent_block{
  background: white;
  height: 100%;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.formLogin input {
  border-radius: 10px;
  margin: 10px;
  height: 25px;
  size: 100;
  font-size: large;
}

.formLogin button{
  border-radius: 10px;
  margin: 10px;
  height: 30px;
  font-size: large;
}

.jumbotron{
  text-align: center;
  font-size: 40px;
  border: 5px dashed black ;
  background-color: white;
  margin-bottom: 0px;
  border-bottom: 0px;
}

button{
  border-radius: 10px;
  background-color: black;
  color: white;
  display: inline-block;
}

input{
  border-radius: 10px;
  display: inline-block;
}

.table {
  background-color: aliceblue;
  border-radius: 30px;
  border : 5px outset black;
}
